[submodule "sdk"]
	path = sdk
	url = https://github.com/ircam-ismm/pipo-sdk.git
[submodule "modules/bayesfilter"]
	path = modules/bayesfilter
	url = https://github.com/ircam-ismm/bayesfilter.git
[submodule "modules/wavelet"]
	path = modules/wavelet
	url = https://github.com/ircam-ismm/wavelet.git
[submodule "modules/rta"]
	path = modules/rta
	url = https://github.com/ircam-ismm/rta-lib.git
