[submodule "sdk"]
	path = sdk
	url = https://github.com/Ircam-RnD/pipo-sdk.git
	branch = develop
[submodule "modules/bayesfilter"]
	path = modules/bayesfilter
	url = https://github.com/Ircam-RnD/bayesfilter.git
[submodule "modules/wavelet"]
	path = modules/wavelet
	url = https://github.com/Ircam-RnD/wavelet.git
[submodule "modules/rta"]
	path = modules/rta
	url = https://github.com/Ircam-RnD/rta-lib.git
[submodule "modules/javascript-engine/jerryscript"]
	path = modules/javascript-engine/jerryscript
	url = https://github.com/jerryscript-project/jerryscript.git
[submodule "modules/flucoma-core"]
	path = modules/flucoma-core
	url = https://github.com/flucoma/flucoma-core.git
	branch = 1.0.7
	